<div class="user-form">
    <h1>{{ isEdit ? "edit" : "user-new" | translate: "user-form" : currentLanguage }}</h1>
    <div *ngIf="!isLoading" class="row">
        <div class="col-md-6 well">
            <form [formGroup]="form" (keydown.enter)="onEnter()" (ngSubmit)="save()">
                <fieldset>
                    <div class="form-group">
                        <label>{{ "user-name" | translate: "user-form" : currentLanguage }}</label>
                        <input
                                type="text"
                                [(ngModel)]="user.local.name"
                                #name="ngForm"
                                [formControl]="form.controls['name']"
                                class="form-control">
                    </div>
                    <div *ngIf="name.touched && !name.valid" class="alert alert-danger">
                        {{ "required-name" | translate: "user-form" : currentLanguage }}
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input
                                type="text"
                                [(ngModel)]="user.local.email"
                                name="email"
                                #email="ngForm"
                                [formControl]="form.controls['email']"
                                class="form-control"
                                [attr.readonly]="isEdit">
                    </div>
                    <div *ngIf="!isEdit && email.touched && email.errors">
                        <p>"email"</p>
                        <div
                                *ngIf="email.errors.required"
                                class="alert alert-danger">{{ "required-email" | translate: "signin-form" :
                            currentLanguage }}
                        </div>
                        <div
                                *ngIf="!email.errors.required && email.errors.invalidEmail"
                                class="alert alert-danger">{{ "invalid-email" | translate: "signin-form" :
                            currentLanguage }}
                        </div>
                    </div>
                    <div *ngIf="!isEdit" class="form-group">
                        <label>{{ "user-password" | translate: "user-form" : currentLanguage }}</label>
                        <input
                                type="text"
                                [(ngModel)]="user.local.password"
                                name="password"
                                #password="ngForm"
                                [formControl]="form.controls['password']"
                                class="form-control">
                    </div>
                    <div *ngIf="!isEdit && password?.touched && !password?.valid" class="alert alert-danger">
                        {{ "required-password" | translate: "user-form" : currentLanguage }}
                    </div>
                    <div class="form-group">
                        <label>{{ "user-avatar" | translate: "user-form" : currentLanguage }}</label>
                        <input
                                type="text"
                                [(ngModel)]="user.local.avatar"
                                formControlName="avatar"
                                class="form-control">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="avatar" src="{{user.local.avatar}}">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ "user-avatar" | translate: "user-form" : currentLanguage
                                    }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ "user-about" | translate: "user-form" : currentLanguage }}</label>
                        <input
                                type="text"
                                [(ngModel)]="user.local.about"
                                formControlName="about"
                                class="form-control">
                    </div>
                    <div class="form-group">
                        <label>{{ "user-city" | translate: "user-form" : currentLanguage }}</label>
                        <input
                                type="text"
                                [(ngModel)]="user.local.city"
                                formControlName="city"
                                class="form-control">
                    </div>
                </fieldset>
                <button
                        type="submit"
                        class="btn btn-primary"
                        [disabled]="!form.valid">
                    {{ "button-save" | translate: "user-form" : currentLanguage }}
                </button>
            </form>
        </div>
    </div>
</div>
