<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid flex">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand brand" routerLink="news">
                <img src="./assets/icons/favicon.ico">
            </a>
            <div class="btn-group dropdown float-right">
                <button
                        type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        aria-expanded="false"
                        role="navigation"
                        (click)="onToggle()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul
                        class="dropdown-menu menu-xs-mode"
                        role="menu"
                        [style.display]="isMenuExpand ? 'block' : 'none'">
                    <li role="presentation">
                        <button class="btn btn-default" routerLink="news" (click)="onToggle()">
                            {{"news" | translate: "navbar" : currentLanguage}}
                        </button>
                    </li>
                    <li role="presentation">
                        <button class="btn btn-default" routerLink="feedback" (click)="onToggle()">
                            {{"feedback" | translate: "navbar" : currentLanguage}}
                        </button>
                    </li>
                    <li role="presentation">
                        <button class="btn btn-default" routerLink="feedback/give" (click)="onToggle()">
                            {{"give-feedback" | translate: "navbar" : currentLanguage}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Collect the nav links, forms,    -->
        <div *ngIf="!isXs">
            <ul class="nav navbar-nav">
                <li role="presentation"><a routerLink="/" class="start-game">{{(isGameProcessing ? "game" : "start" ) |
                    translate: "navbar" : currentLanguage }}</a></li>
                <li role="presentation"><a routerLink="users">{{"players" | translate: "navbar" : currentLanguage}}</a>
                </li>
                <li role="presentation"><a routerLink="profile">{{ "profile" | translate: "navbar" :
                    currentLanguage}}</a></li>
                <li *ngIf="!userName" role="presentation">
                    <button class="btn btn-info" routerLink="signin">
                        {{"signin" | translate: "navbar" : currentLanguage}}
                    </button>
                </li>
                <li *ngIf="!userName" role="presentation" class="hidden-sm">
                    <button class="btn btn-group" routerLink="signup">
                        {{"signup" | translate: "navbar" : currentLanguage}}
                    </button>
                </li>
                <li *ngIf="!userName" role="presentation">
                    <button class="btn btn-group button-vk" (click)="onVkAuth()">
                        <img src="./assets/icons/vk_152.png" class="img-circle icon-vk">
                    </button>
                </li>
                <li *ngIf="userName" role="presentation">
                    <button class="btn btn-group" (click)="onLogout()">Logout</button>
                </li>
                <li *ngIf="userName" role="presentation">
                    <div class="navbar-text flex">
                        <span class="signed-as flex">
                            {{ "user-signed-as" | translate: "navbar" : currentLanguage }}
                        </span>
                        <a href="{{user.vk ? 'https://vk.com/id' + user.vk.id : '#'}}"
                           class="signed-as-a navbar-link flex">
                            <span *ngIf="!avatar" class="signed-as">{{userName}}</span>
                            <span *ngIf="!avatar" class="glyphicon glyphicon-user large-size"></span>
                            <img *ngIf="avatar" src="{{avatar}}" alt="avatar" class="navbar-img-circle icon-vk">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <select-lang></select-lang>
    </div>
</nav>
