.nav.navbar-nav li a.active {
    background-color: #5c5c79;
}

ul.navbar-nav > li {
    padding-right: 5px;
    display: flex;
    height: 60px;
}

select-lang {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    display: flex;
}

.flex {
    display: flex;
}

ul.navbar-nav > li button, img, select-lang {
    margin: auto;
}

ul.navbar-nav > li div.navbar-text {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

nav a:visited, a:link {
    color: #607D8B;
}

nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}

nav .signed-as-a:hover {
    background: none;
}

nav a.active {
    color: #039be5;
}

.width-wide {
    width: 96%;
}

.width-100 {
    width: 100%;
}

.float-right {
    float: right;
}

.avatar {
    margin-left: 10px;
    margin-top: -15px
}

.button-vk {
    padding: 0;
}

.icon-vk {
    width: 41px;
}

.large-size {
    font-size: 40px;
    margin-left: 10px;
    margin-top: -10px;
}

.signed-as {
    margin: auto 5px;
    overflow: hidden;
}

.menu-xs-mode {
    margin: 0;
    padding: 0;
    border: 1px solid #888;
}

.menu-xs-mode > li {
    border-bottom: 1px solid #777;
}

.menu-xs-mode > li > button {
    width: 100%;
}
