<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand brand" routerLink="/">
                <img src="./assets/brand.jpg">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false"
                    role="navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar">a</span>
                <span class="icon-bar">b</span>
                <span class="icon-bar">c</span>
            </button>
        </div>
        <!-- Collect the nav links, forms,    -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav width-wide">
                <li role="presentation"><a routerLink="/" class="start-game">{{ (isGameProcessing ? "game" : "start" ) |
                    translate: "navbar" : currentLanguage }}</a></li>
                <li role="presentation"><a routerLink="profile">{{ "profile" | translate: "navbar" :
                    currentLanguage}}</a></li>
                <li *ngIf="!userName" role="presentation">
                    <button class="btn btn-info" routerLink="signin">{{ "signin" | translate: "navbar" : currentLanguage
                        }}
                    </button>
                </li>
                <li *ngIf="!userName" role="presentation">
                    <button class="btn btn-group" routerLink="signup">{{ "signup" | translate: "navbar" :
                        currentLanguage }}
                    </button>
                </li>
                <li *ngIf="!userName" role="presentation">
                    <button class="btn btn-group button-vk" (click)="onVkAuth()">
                        <img src="./assets/icons/vk_152.png" class="img-circle icon-vk">
                    </button>
                </li>
                <li *ngIf="userName" role="presentation">
                    <button class="btn btn-group" (click)="onLogout()">Logout</button>
                </li>
                <li *ngIf="userName" role="presentation">
                    <p class="navbar-text">{{ "user-signed-as" | translate: "navbar" : currentLanguage }}
                        <a href="{{user.vk ? 'https://vk.com/id' + user.vk.id : '#'}}" class="navbar-link">
                            {{userName}}
                            <img *ngIf="avatar" src="{{avatar}}" alt="avatar" class="img-circle icon-vk">
                            <span *ngIf="!avatar" class="glyphicon glyphicon-user large-size"></span>
                        </a>
                    </p>
                </li>
                <li role="presentation" class="float-right">
                    <select-lang></select-lang>
                </li>
            </ul>
        </div>
    </div>
</nav>
