.profile {
    /*height: 100%;*/
    margin: 0 2%;
    padding-top: 75px;
    padding-bottom: 60px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.cursor-pointer {
    cursor: pointer;
}