.signin-form {
    height: 100%;
    margin: 0 2%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.button-vk {
    padding: 0;
}

.icon-vk {
    width: 41px;
}

.float-right {
    float: right;
}