<div class="wrapper">
    <div class="btn-group dropdown">
        <button
                type="button"
                class="btn btn-info dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
                (click)="onToggle()">
            <span class="flag-icon flag-icon-{{ languages[currentLang].flagName }}">></span>
            <span>{{ languages[currentLang].langName }}</span>
            <span class="caret"></span>
        </button>
        <ul
                class="dropdown-menu"
                role="menu"
                [style.display]="isActiveLanguageList ? 'block' : 'none'">
            <li
                    *ngFor="let language of languages | keys"
                    (click)="onSelectLanguage(language.key)"
                    class="btn btn-info">
                <span class="flag-icon flag-icon-{{ languages[language.key].flagName }}">></span>
                <span>{{languages[language.key].langName}}</span>
            </li>
        </ul>
    </div>
</div>
