.wrapper {
    margin: auto;
}

.wrapper ul {
    padding: 0;
    min-width: 0;
    border: 1px solid gray;
}

.wrapper ul li {
    width: 100%;
    margin-left: 0;
    border-bottom: 1px solid #555;
}

.wrapper ul li:hover {
    background-color: #95a5a6;
}
